@page "/"
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="registration">registration </a>
            <a class="nav-item nav-link" href="customerslist">Students List</a>
            <a class="nav-item nav-link" href="booklist">Book List</a>
            <a class="nav-item nav-link" href="addbook">Add book</a>
            <a class="nav-item nav-link" href="login">Login</a>
        </div>
    </div>
</nav>

<h3>Home</h3>
<h6>
    Welcome to our library website! We are excited to offer you a world of knowledge and entertainment right at your fingertips. Our website is your one-stop destination for all your reading needs.

    With just a few clicks, you can browse our extensive collection of books, audiobooks, e-books, and magazines. Whether you're into thrillers, romance, self-help, or business, we have something for everyone. We also have a wide selection of children's books to help your little ones develop a love of reading.

    But that's not all! Our library website offers many other services as well. You can reserve books online, renew your borrowed items, and even suggest new books for us to add to our collection. We also have a range of online resources such as research databases, encyclopedias, and digital archives that you can access from the comfort of your own home.

    Our website is easy to navigate and user-friendly, so you can find what you're looking for quickly and easily. And if you ever need assistance, our helpful staff is just a phone call or email away.

    So, what are you waiting for? Sign up for a library card today and start exploring all that our website has to offer. Happy reading!
</h6>
@code {

}
