@page "/wallet"
@inject NavigationManager navigationManager
@inject IJSRuntime js
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage MySession
@using Models
@using DBL
@inject IModalService modal
@* @inject bool b *@
@using Blazored.Modal;
@using System.Text;
@using System.Text.Json;
@using ConsoleAppTest

<h1>@amount_USD</h1>
 <ul>
    @{
        if(parameters != null)
            foreach(var coin in parameters)
            {
                <li>@coin.Key @coin.Value</li>
            }
    }
</ul>

@code {
    static Dictionary<string, double> parameters = new Dictionary<string, double>();
    static double amount_USD = 0;
    static bool b = true;
    customer customer = new customer();
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var customerSession = await MySession.GetAsync<customer>("customerSession");
        if (customerSession.Success && customerSession.Value != null)
        {
            customer = customerSession.Value;
            if(b)
            {
                b = false;
                await ShowAmount();
                await GetSumOfCoin(); 
            }
            StateHasChanged();
        }
        else
            navigationManager.NavigateTo("login");
    }
    // protected override async Task OnInitializedAsync()
    // {
    //     //await ShowAmount();
    //     await GetSumOfCoin();
    // }
    public async Task ShowAmount()
    {
        amount_USD = 0;
        HttpClient client = new HttpClient();
        //var jsonBU = new StringContent(JsonSerializer.Serialize(l), Encoding.UTF8, "application/json");
        List<transaction> l = await client.GetFromJsonAsync<List<transaction>>($"http://localhost:5256/GetAll/{customer.id}");
        for (int i = 0; i < l.Count; i++)
        {
            amount_USD = amount_USD + l[i].amount;
        }
        StateHasChanged();
    }
    public async Task<List<coin>> ShowCoins()
    {
        coinDB cd = new coinDB();
        List<coin> list_coins = await cd.SelectAllAsync("SELECT * FROM projectmax.coin;");
        return list_coins;
    }
    public async Task GetSumOfCoin()
    {
        DoubleDB d = new DoubleDB();
        //tradeDB td = new tradeDB();
        List<coin> list_coins = await ShowCoins();
        parameters = new Dictionary<string, double>();
        for (int i = 0; i < list_coins.Count; i++)
        {
            HttpClient client = new HttpClient();
            //var jsonBU = new StringContent(JsonSerializer.Serialize(l), Encoding.UTF8, "application/json");
            List<double> list_trades = await client.GetFromJsonAsync<List<double>>($"http://localhost:5256/GetSum/{customer.id}/{list_coins[i].coincode}");
            if(list_trades != null)
                parameters.Add(list_coins[i].namecoin, list_trades[0]);
        }
    }
}
