<!DOCTYPE html>
<html lang="en">

<head>
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazorApp.styles.css" />
    <HeadOutlet @rendermode="@InteractiveServer" />
</head>

<body>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <Routes @rendermode="@InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
